@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

body{
    font-family: "Cormorant";
    background-color: #1E1C1F;
}
.Section{
    background: url('/section.png') center/cover no-repeat;
}
.after::after {
  content: '';
  display: block;             
  width: 136px;            
  height: 2px;             
  background-color: black;  
}

